.search-map-wrapper {
  display: flex;
  flex-direction: row;
}

.search-box {
  background-color: #F8FAFD;
  padding: 2rem 3rem;
  color: #6B7C93;
}

.search-input {
  height: 55px;	
  width: 240px;	
  border: 1px solid #E3E3E3;	
  border-radius: 4px;
  padding: 1rem;
}

div .icon-spin {
  animation: loading-spin infinite 2s linear;    
}
.icon.ion-load-c {
  font-size: 5rem;
  color: #DF8436;
}

@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mapWrapper {
  height: 400px;
  margin: 0 auto;
  width: 100%;
}

.map {
  height: 300px;
}
.results-count {
  padding: 5px 10px;
}
.results-count .badge{
  margin-left: 0;
}
.badge {
  margin: 5px;
}
.card-body .card-text {
  margin-left: 1rem;
}
.sa-badge {
  background-color: #DF8436;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.adu-badge {
  background-color: #4A90E2;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.thc-badge {
  background-color: #9E67CE;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}
.thow-badge {
  background-color: #1ABC9C;
  width: fit-content;
  padding: 6px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 960px){
  .search-map-wrapper {
    flex-direction: column;
  }

  .mapWrapper {
    height: 350px;
    margin: 0 auto;
    width: 90%;
  }
}